<!DOCTYPE html>
<html>
  <head>
 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for(var i = 0; i < item.length; i++) {%>
        <li><%= item[i].name %></li> 
        <li><img src="<%=item[i].src%>"/></li> 
      <% } %>
    
    
  </body>
</html>