<!DOCTYPE html>
<html>
<head>
    <div class="header">
        <a>Grocory Shop</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Category/createItem">Create</a></li>
        </ul>
        
    </div>
    
</head>
<body>